beautifulsoup4
blinker
certifi
charset-normalizer
click
colorama
comtypes
Flask
Flask-Cors
idna
imagetk
itsdangerous
Jinja2
MarkupSafe
MouseInfo
numpy
pandas
Cython
pillow
pip
PyAudio
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
pypiwin32
PyRect
PyScreeze
python-dateutil
python-dotenv
pyttsx3
pytweening
pytz
pywin32
requests
scipy
setuptools
six
soupsieve
SpeechRecognition
typing_extensions
tzdata
urllib3
Werkzeug
wheel
wikipedia
Wikipedia-API
gunicorn
