Cython
beautifulsoup4
blinker
certifi
charset-normalizer
click
colorama
comtypes
Flask
pyaudio.whl
Flask-Cors
idna
itsdangerous
Jinja2
MarkupSafe
MouseInfo
numpy
pandas
Pillow
pip
PyAudio
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
python-dateutil
python-dotenv
pyttsx3
pytweening
pytz
requests
scipy
setuptools
six
soupsieve
SpeechRecognition
typing_extensions
tzdata
urllib3
Werkzeug
wheel
wikipedia
wikipedia-api
gunicorn
